body {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}
h1 {
  color: black;
  font-family: verdana;
  text-align: center;
}
h3{
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
  width: 20%;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #2176ca;
}

p.mc{
  margin: 35px;
  text-align: justify;
  letter-spacing: .5px;
}

.footer{
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: #333;
  color: white;
  left: 0;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  li {
    float: center;
    border-right: none;
    border-left: none;
  }
}
