<nav>
	<div class="nav-container left">
		<a routerLink="/portfolio">
			<div>Portfolio</div>
			<div class="underline"></div>
		</a>
		<a routerLink="/about">
			<div>About</div>
			<div class="underline"></div>
		</a>
	</div>
	<div routerLink="/" class="nav-logo">
		<div id="japanese">無双</div>
		<div id="english">Musō Marketing</div>
	</div>
	<div class="nav-container right">
		<a routerLink="/team">
			<div>Our Team</div>
			<div class="underline"></div>
		</a>
		<a routerLink="/testimonials">
			<div>Testimonials</div>
			<div class="underline"></div>
		</a>
		<a routerLink="/contact">
			<div>Contact</div>
			<div class="underline"></div>
		</a>
	</div>
</nav>