nav {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  width: 100vw;
  height: 100px;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}

.nav-container {
  display: flex;
  width: 33.33%;
}

.left {
  flex-direction: row-reverse;
}

.nav-logo {
  color: red;
  margin: 0 75px;
  text-align: center;
  cursor: pointer;
}

.nav-logo:hover {
  text-shadow: 2px 2px rgba(0,0,0,.09);
}

#japanese {
  font-size: 50px;
  line-height: 1;
}

#english {
  font-size: 20px;
  font-weight: 500;
}

.right {
  flex-direction: row;
}


a {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  width: 180px;
  margin: 0 25px;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover .underline {
  border-bottom: 3px solid black;
}

a * {
  position: absolute;
}

.underline {
  height: 60px;
  width: 30px;
}